# Secrets #
###########
abomination.py
devenv_setup.sh
projects
trail_of_cthulhu.bfproject.look

# Hidden and temporary files #
##############################
.directory
.Rhistory
.Makefile*
.bash*
.profile
*~
*.pyc
*.lock
*.kate-swp

# Too big anyways #
###################
/the_background
/Trail_of_Cthulhu_materials
/images
/sounds
*/*/migrations
