# Secrets #
###########
abomination.py

# Hidden and temporary files #
##############################
.directory
.Rhistory
.Makefile*
.bash*
.profile
*~
*.pyc
*.lock

# Too big anyways #
###################
/the_background
/Trail_of_Cthulhu_materials
/images
/sounds
*/*/migrations
