# Hidden and temporary files #
##############################
.directory
.Rhistory
.Makefile*
.bash*
.profile
*~


# Too big anyways #
###################
/the_background
/Trail_of_Cthulu_materials
/images
/sounds
