{% extends "./make_investigator.html" %}

{% block title %}Investigator Creation: Confirmation{% endblock title%}

{% block topnav %}

<!-- Navbar -->
<div class="w3-display-container w3-top w3-black w3-center" id="nav"> 
    <div class="w3-left"> 
      <a href="/" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="/build/pillars" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-undo"></i></a>
    </div>
    <a href="/build/drive" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">DRIVE</a>
    <a href="/build/pillars" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">PILLARS</a>
    <a href="/build/occupation" class="w3-padding-16 w3-bar-item w3-button">OCCUPATION</a>
    <a href="/build/abilities" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">ABILITIES</a>
    <a href="/build/circle" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">CIRCLE</a>
    <div class="w3-right"> 
      <a href="/build/abilities" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-angle-double-right"></i></a>
    </div>
</div>

{% endblock topnav %}

{% block formbox %}

<form class="w3-container" method="post">
  {% csrf_token %}
<div class="w3-light-grey w3-border w3-display-container">   

  <h2>{{ form.name }}</h2>

  {% for field in form %}
    <div class="w3-section">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
  {% endfor %}

  <h2>Two</h2>

  {% for ability in form.innateability_set.all %}
    <div class="w3-section">
      {{ ability.ability_id }}
    </div>
  {% endfor %}

</div>

{% endblock formbox %}
