{% extends "./make_investigator.html" %}

{% block title %}Investigator Creation: Psych{% endblock title%}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block topnav %}

<!-- Navbar -->
<div class="w3-display-container w3-top w3-black w3-center" id="nav"> 
    <div class="w3-left"> 
      <a href="/" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="/build" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-undo"></i></a>
    </div>
    <a href="/build/drive" class="w3-padding-16 w3-bar-item w3-button"><span class="w3-deepred w3-round-large w3-padding">DRIVE</span></a>
    <a href="/build/pillars" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">PILLARS</a>
    <a href="/build/occupation" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">OCCUPATION</a>
    <a href="/build/abilities" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">ABILITIES</a>
    <a href="/build/circle" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">CIRCLE</a>
    <div class="w3-right"> 
      <a href="/build/pillars" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-angle-double-right"></i></a>
    </div>
</div>

{% endblock topnav %}

{% block subformbox1 %}

<div class="w3-dark-grey w3-display-container w3-card">
  <span onclick="this.parentElement.style.display='none'" class="w3-button w3-black w3-large w3-display-topright">&times;</span>
  <header class="w3-container w3-black">
    <h4>Drives</h4>
  </header>
  <div class="w3-container">      
    <p>Welcome to the character creation app. Here you can create a character for a Meaningful Acts campaign. Browse the character options for ideas or just jump in an create a character. These tip boxes will help you along the way.</p>
  </div>

</div>
{% endblock subformbox1 %}