{% extends "./make_investigator.html" %}

{% block title %}Investigator Creation: Circle{% endblock title%}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block topnav %}

<!-- Navbar -->
<div class="w3-display-container w3-top w3-black w3-center" id="nav"> 
    <div class="w3-left"> 
      <a href="/" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="/build/abilities" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-undo"></i></a>
    </div>
    <a href="/build/drive" class="w3-padding-16 w3-bar-item w3-button">DRIVE</a>
    <a href="/build/pillars" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">PILLARS</a>
    <a href="/build/occupation" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">OCCUPATION</a>
    <a href="/build/abilities" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">ABILITIES</a>
    <a href="/build/circle" class="w3-hide-small w3-padding-16 w3-bar-item w3-button"><span class="w3-deepred w3-round-large w3-padding">CIRCLE</span></a>
    <div class="w3-right"> 
      <a href="/build/confirm" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-angle-double-right"></i></a>
    </div>
</div>

{% endblock topnav %}

{% block featurebox %}

{% endblock featurebox %}