<!-- content accordion for drives, will comment sections of function here in django with which are duplicated in later sections (occupation, abilities) -->		
    <div onclick="myAccordian('drive')" class="bgimg-3 w3-btn w3-bar w3-section">
      <span class="w3-left w3-large w3-wide w3-text-light-grey">Drives</span>
      <span class="w3-right w3-large w3-text-light-grey"><i class="fa fa-caret-down"></i></span>
    </div>
    
    <div id="drive" class="w3-hide w3-container">

      
      {% comment %}
      this is the loop which looks for all the drives in the DriveList as called by 'drives'
      each item is rendered as a link which redirects to a please turn on JS page if the on click JS can't function to bring up a modal with details on the item
      {% endcomment %}
        
      {% for drive in drives %}      
      <div class="w3-half listitem">
        <a href="/JS_use.html" onclick="popON('{{ drive }}'); return false;" class="w3-wide w3-large">{{ drive }}</a>
        <span class="w3-button w3-circle w3-ripple"><i class="fa fa-plus" aria-hidden="true"></i>
      </div>
            
<!-- this is the popup modal which gives details on the drive which is clicked -->
      <div id="{{ drive }}" class="w3-modal w3-round-large">
        <div class="w3-modal-content w3-card-4">
          <header class="w3-container w3-dark-grey"> 
            <span onclick="popOFF('{{ drive }}')" class="w3-button w3-display-topright">&times;</span>
            <h2>{{ drive }}</h2>
          </header>
          <div class="w3-container">
            <p>{{ drive.description }}</p>
          </div>
          <footer class="w3-container w3-dark-grey w3-padding">
            <span class="w3-button w3-round w3-ripple"><i class="fa fa-plus" aria-hidden="true"></i>Add this drive to character cart</span>
          </footer>
        </div>
      </div>          
      {% endfor %}
      
<!-- this is the bar at the bottom of the list which collapses the accordian -->
      <div onclick="myAccordian('drive')" class="w3-container w3-dark-grey w3-bar w3-button w3-ripple">
          <div class="w3-tiny w3-left w3-wide">collapse Drive options</div>
          <div class="w3-small w3-right"><i class="fa fa-caret-up"></i></div>
      </div>          
    </div>