{% extends "./base.html" %}

{% block title %}Investigator Creation{% endblock title%}

{% block topnav %}

<!-- Navbar -->
<div class="w3-display-container w3-top w3-black w3-center" id="nav">
    <a href="#about" class="w3-padding-large w3-hide-small w3-bar-item w3-button">ABOUT</a>
    <a href="#game" class="w3-padding-large w3-hide-small w3-bar-item w3-button">GAME</a>
    <a href="#story" class="w3-padding-large w3-hide-small w3-bar-item w3-button">STORY</a>
    <!-- the play button remains in small views -->
    <a href="#contact" class="w3-padding-large w3-bar-item w3-button">PLAY</a>
    <div class="w3-hide-small w3-dropdown-click">
      <button onclick="toggleShow('dropmenu')" class="w3-padding-large w3-button">Details <i class="fa fa-caret-down"></i></button>
      <div id="dropmenu" class="w3-dropdown-content w3-bar-block w3-white w3-card-4">
        <a href="#game" class="w3-bar-item w3-button">GAME</a>
        <a href="#story" class="w3-bar-item w3-button">STORY</a>
        <a href="#" class="w3-bar-item w3-button">PARTICIPANTS</a>
      </div>
    </div>
</div>

{% endblock topnav %}

{% block activetext %}

<!-- title of the page -->
<div class="w3-row">
  <h1 class="w3-center w3-padding-48 w3-xxxlarge">Character creation app<span class="blink">_</span></h1>
</div>

<!-- div wrapper for the main and sidebar -->
<div class="w3-display-container w3-row">
  
  {% include "./cart_sidebar.html %}

  <div class="w3-container" id="main">
		
    <div onclick="myAccordian('drive')" class="bgimg-3 w3-btn w3-bar w3-section">
      <span class="w3-left w3-large w3-wide w3-text-light-grey">Drives</span>
      <span class="w3-right w3-large w3-text-light-grey"><i class="fa fa-caret-down"></i></span>
    </div>
    
    <div id="drive" class="w3-hide w3-container">
      {% for occupation in occupations %}
      <p><em>{{ occupation }}</em> {{ occupation.occupational_abilities }}</p> 
      <p>{{ occupation.description }}
      {% endfor %}
    </div>

    <div onclick="myAccordian('occupation')" class="bgimg-3 w3-btn w3-bar w3-section">
      <span class="w3-left w3-large w3-wide w3-text-light-grey">Occupations</span>
      <span class="w3-right w3-large w3-text-light-grey"><i class="fa fa-caret-down"></i></span>
    </div>
    
    <div id="occupation" class="w3-hide w3-container">
      {% for occupation in occupations %}
      <p><em>{{ occupation }}</em> {{ occupation.occupational_abilities }}</p> 
      <p>{{ occupation.description }}
      {% endfor %}
    </div>

    <div onclick="myAccordian('ability')" class="bgimg-3 w3-btn w3-bar w3-section">
      <span class="w3-left w3-large w3-wide w3-text-light-grey">Abilities</span>
      <span class="w3-right w3-text-light-grey"><i class="fa fa-caret-down"></i></span>
    </div>
    
    <div id="ability" class="w3-hide w3-container">
      {% for occupation in occupations %}
      <p><em>{{ occupation }}</em> {{ occupation.occupational_abilities }}</p> 
      <p>{{ occupation.description }}
      {% endfor %}
    </div>
	
    <p>Remember you can always <a href="http://www.mythos-acts.ca/#contact">contact</a> me by email directly or to set up a quick phone call/IRL session to go over the process of character creation. I might be able to save you time by pointing you to relevant skills given a verbal description of your character concept. The goal of this game is to explore your <a href="https://youtu.be/YfY1lfFu8j8?t=45s">character</a> (known in-game as an Investigator) and the <a href="https://youtu.be/_ccxVZXRZS8?t=10s">environment</a> in a space where you have the freedom to be as unashamedly cautious or reckless as you can conceive. We will build this story together.</p>

  </div>

</div>
{% endblock activetext %}
