{% extends "./base.html" %}

{% block title %}Investigator Creation{% endblock title%}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block topnav %}

<!-- Navbar -->
<div class="w3-display-container w3-top w3-black w3-center" id="nav"> 
    <div class="w3-left"> 
      <a href="/" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-home"></i></a>
    </div>
    <a href="/build/drive" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">DRIVE</a>
    <a href="/build/pillars" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">PILLARS</a>
    <a href="/build/occupation" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">OCCUPATION</a>
    <a href="/build/abilities" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">ABILITIES</a>
    <a href="/build/circle" class="w3-hide-small w3-padding-16 w3-bar-item w3-button">CIRCLE</a>
    <a href="#make" class="w3-hide-medium w3-hide-large w3-padding-16 w3-bar-item w3-button">CREATE CHARACTER</a>
    <div class="w3-right"> 
      <a href="/build/drive" class="w3-padding-16 w3-bar-item w3-button"><i class="fa fa-angle-double-right"></i></a>
    </div>
</div>

{% endblock topnav %}

{% block activetext %}

<!-- title of the page -->
<div class="w3-container w3-row" style="padding-top: 32px">
  <h1 class="w3-center w3-xxxlarge w3-hide-small">Character creation app<span class="blink">_</span></h1>
</div>

{% block formbox %}

<!-- for for entering the basics -->

<form class="w3-container" method="post">
  {% csrf_token %}
<div class="w3-light-grey w3-border w3-display-container">   
  <div class="w3-container w3-section w3-half">

    <h2>{% block formboxheader %}Who will you be?{% endblock formboxheader %}</h2>
    
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ wizard.form.forms.management_form }}
        {% for field in form %}
          <div class="w3-section">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
      {% endfor %}
      
    {% else %}
      {% for field in wizard.form %}

        {% block display_fields %}

          <div class="w3-section">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </div>

        {% endblock display_fields %}

      {% endfor %}
    {% endif %}
  
  </div>
  
  <div class="w3-container w3-section w3-half">
  
  {% block subformbox1 %}
    <div class="w3-dark-grey w3-display-container w3-card">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-black w3-large w3-display-topright">&times;</span>
      <header class="w3-container w3-black">
        <h4>Tip box</h4>
      </header>
      <div class="w3-container">      
        <p>Welcome to the character creation app. Here you can create a character for a Meaningful Acts campaign. Browse the character options for ideas or just jump in an create a character. These tip boxes will help you along the way.</p>
      </div>
    </div>
  {% endblock subformbox1 %}    
  
  </div>

  <div class="w3-container w3-section" id="make">
    <input type="submit" class="w3-button w3-black w3-ripple" value="{% block submit %}Birth Investigator{% endblock submit %}">
  </div>

</div>
</form>

{% endblock formbox %}

<!-- div wrapper for the main and sidebar -->
<div class="w3-display-container w3-row">
  
<!-- this is the button to access the character 'cart' on small screens-->
  <div class="w3-display-right overlay w3-hide-medium w3-hide-large">
    <button class="w3-button w3-ripple w3-black w3-small w3-round-large w3-opacity" onclick="toggleSidecol()" id="floatbtn">
      build <br>
      <i class="fa fa-user" aria-hidden="true"></i> <br>
      cart
    </button>
  </div>
<!-- this is the button to access the character 'cart'-->
  <div class="w3-display-right overlay w3-hide-small">
    <button class="w3-button w3-ripple w3-black w3-large w3-round-xxlarge w3-padding-32 w3-opacity" onclick="toggleSidecol()" id="floatbtn">
      build <br>
      <i class="fa fa-user" aria-hidden="true"></i> <br>
      cart
    </button>
  </div>

<!-- this is the character 'cart' -->
  <div class="w3-display-right w3-bar-block w3-grey w3-card-4 w3-mobile w3-animate-right w3-hide overlay" id="sidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="toggleSidecol()">Close &times;</button>
    <a class="w3-bar-item w3-button" href="#">Link 1</a>
    <a class="w3-bar-item w3-button" href="#">Link 2</a>
    <a class="w3-bar-item w3-button" href="#">Link 3</a>
  </div>

  <div class="w3-container" id="main">

{% block mainbox %}
  
  <h2 style="margin-bottom:0;">Character Options</h2>

  {% include "./drive_options.html" %}

  {% include "./occupation_options.html" %}

  {% include "./ability_options.html" %}

{% endblock mainbox %}

{% block lastbox %}	
    <p>Remember you can always <a href="http://www.mythos-acts.ca/#contact">contact</a> me by email directly or to set up a quick phone call/IRL session to go over the process of character creation. I might be able to save you time by pointing you to relevant skills given a verbal description of your character concept. The goal of this game is to explore your <a href="https://youtu.be/YfY1lfFu8j8?t=45s">character</a> (known in-game as an Investigator) and the <a href="https://youtu.be/_ccxVZXRZS8?t=10s">environment</a> in a space where you have the freedom to be as unashamedly cautious or reckless as you can conceive. We will build this story together.</p>
{% endblock lastbox %}

  </div>

</div>
{% endblock activetext %}
